#content>div>p {
    color: aliceblue;
}

#content>div .login {
    color: #aaa;
}

#content>div>#code {
    position: relative;
    top: -127px;
    left: 17px;
}

#code {
    position: relative;
    top: -84px;
    left: 14px;
}

#content>div>a>em {
    position: relative;
    top: -80px;
    left: 160px;
    color: #555;
    font-size: 14px;
    border-left: 1px solid #ddd;
    padding: 0 15px;
}